<div class="login">
  <div class="form-container">
    <form [formGroup]="formLogin" (ngSubmit)="submit()">
      <div class="heading"><h2 i18n="@@login-title">Welcome Back!</h2></div>
      <div class="div-input">
        <input type="text" class="" name="username" formControlName="email" placeholder="Email">
        <span *ngIf="formControls['email'].touched && formControls['email'].invalid" class="text-danger font">
          <span *ngIf="formControls['email'].errors && formControls['email'].errors['required']">email is required!</span>
          <span *ngIf="formControls['email'].errors && formControls['email'].errors['email']">this email is invalid!</span>
       </span>
       </div>
       <div  class="div-input">
        <input type="password" name="password" formControlName="password" placeholder="Password">
        <span *ngIf="formControls['password'].touched && formControls['password'].invalid" class="text-danger font">
          <span *ngIf="formControls['password'].errors && formControls['password'].errors['required']">password is required!</span>
       </span>
       </div>

      <button class="btn" type="submit" [disabled]="formLogin.invalid || progress">Login</button>

      <div>
        <p class="text-danger" *ngIf="invalid">Invalid email or password </p>
      </div>
    </form>
  </div>
  <div class="image-container">
    <img src="assets/login.png" alt="Fruit Image">
  </div>
</div>
