
nav {
  position: relative;
  background-color: var(--app-background);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo {
  color:rgb(167, 20, 20);
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.checkbtn{
  position: relative;
}

.burger-bottom, .burger-med, .burger-top{
  background-color: var(--app-primary);
  height: 4px;
  width: 50px;
  margin: 8px 0;
  transition: .4s;
}

#check:checked + .checkbtn > .burger-top{
  transform: rotate(45deg);
  transition: .4s;
  position: absolute;
  top: 0;
}


#check:checked + .checkbtn > .burger-med{
  transform: translate(-200%);
  transition: .4s;
}


#check:checked + .checkbtn > .burger-bottom{
  transform: rotate(-45deg);
  transition: .4s;
  position: absolute;
  top: 0;
}

nav ul {
  display: flex;
  gap: 5px;
  padding: 0;
  margin: 0;
}

nav ul li a, .login a {
  color: rgb(167, 20, 20);
  font-size: 17px;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 3px;
}

a.active, a:hover {
  font-weight: bold;
}

.checkbtn {
  color: black;
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

#check {
  display: none;
}

.icon {
  color: var(--app-secondary);
  height: 50px;
  width: 50px;
}

/*.login a {*/
/*  line-height: 80px;*/
/*  font-size: 17px;*/
/*  padding: 7px 13px;*/
/*  cursor: pointer;*/
/*  text-transform: uppercase;*/
/*  border-radius: 3px;*/
/*}*/

@media (max-width: 800px) {
  label.logo {
    font-size: 25px;
  }
}

@media (max-width: 600px) {

  .logo{
    width: 100%;
    text-align: center;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    transition: .4s;
    background-color: white;
    height: 100vh;
  }

  nav ul li {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  nav ul li a, .login a {
    padding: 0 5px ;
  }

  #check:checked ~ ul {
    left: 0;
    transition: .4s;
  }


  .login {
    display: none;
  }

  .checkbtn {
    display: block;
  }


  #check:checked ~ .login {
    display: block;
  }
}

.scrolled{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
}
