
  <nav [ngClass]="{scrolled: scrolled}">

    <input type="checkbox" id="check" >
    <label for="check" class="checkbtn">
<!--      <i-feather class="icon" name="align-justify"></i-feather>-->
      <div class="burger-top"></div>
      <div class="burger-med"></div>
      <div class="burger-bottom"></div>
    </label>

    <h3 class="logo" routerLink="/home" i18n="@@resturant">RESTURANT</h3>


    <ul>
      <li ><a routerLinkActive="active" routerLink="/home" i18n="@@home">Home</a></li>
      <li *ngIf="autherized"><a routerLink="/admin/categories" routerLinkActive="active" i18n="@@categories">Categories</a></li>
      <li *ngIf="autherized"><a routerLink="/admin/items" routerLinkActive="active" i18n="@@items">Items</a></li>
      <li *ngIf="autherized"><a routerLink="/admin/profile" routerLinkActive="active" i18n="@@profile">Profile</a></li>
      <li *ngIf="autherized"><a (click)="logout()" routerLinkActive="active" i18n="@@logout">Logout</a></li>
      <li *ngIf="!autherized"><a routerLink="/auth/login" routerLinkActive="active" i18n="@@login">Login</a></li>
    </ul>

  </nav>
